.main-menu, .menu-credits, .menu-controls {
	width: 100vw;
	height: 100vh;

	padding-left: 3em;

	overflow-y: auto;
}

/**
 * Menu
 */
.main-menu {
	padding-top: calc(50vh - 12rem);
}

.main-menu p {
	font-size: 2.5rem;
	color: white;
	margin: 0.25rem;
}

@media (max-width: 900px) {
	.main-menu p {
		font-size: 1.5rem;
	}
}

.main-menu-title img {
	margin-left: -2rem;
	width: 520px;
}

@media (max-width: 900px) {
	.main-menu-title img {
		width: 50%;
	}
}

.main-menu-hint {
	font-size: 1.5rem !important;
	margin-top: -2em;
	margin-bottom: 2rem !important;
}

.main-menu-link:hover {
	font-weight: bold;
	cursor: pointer;
}
.main-menu-panel {
	position: fixed;
	width: 30vw;
	right: 10vw;
	top: calc(50vh - 150px);

	color: white;
	border: 1px solid white;
	padding: 1rem;
	font-size: 1.15rem;
}
.main-menu-panel h2 {
	margin-top: 0;
}
.main-menu-panel a {
	color: white;
	text-decoration: none;
}
.main-menu-panel a:hover {
	font-weight: bold;
}


/**
 * Credits
 */
.menu-credits ul, .menu-controls ul {
	list-style: none;
}

.menu-credits li, .menu-controls li {
	color: white;
}
.menu-credits a, .menu-controls a {
	text-decoration: none;
	color: white;
}
#credits-backToMenu a {
	font-size: 1.5rem;
}
.menu-credits a:hover, .menu-controls a:hover {
	font-weight: bold;
}
#credits-backToMenu {
	text-align: right;
	padding-right: 10rem;

	position: fixed;
	right: 1rem;
	bottom: 1rem;
}

.menu-controls {
	padding-top: 3rem;
}
.menu-controls img {
	width: 125px;
	margin-right: 2rem;
}
.menu-controls * {
	vertical-align: middle;
}

/**
 * Social buttons
 */
.social-buttons {
	position: fixed;
	right: 1em;
	bottom: 1em;
	color: white;
}

.social-buttons img {
	margin: 0 0.5rem;
	width: 40px;
	vertical-align: middle;
	cursor: pointer;
}